.Preisanzeige{
    color:Green;
}
ion-card
{
    width: 32%;
    display: inline-block;

}
img{
    height: 420px;
    object-fit: cover;
}
#Speiseplan{
    display: flex;
    flex-wrap: wrap;
}

.Kalendar {

    display: left;
    align-items: center;
    justify-content: center;
}
